

  <div class="col-sm-6">
<form>
  <div class="form-group " ng-init="getUserData()">
    <label for="exampleFormControlInput1">Name</label>
    <input  [(ngModel)]="userData.name" name="name" type="text" class="form-control"  placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Surname</label>
    <input  [(ngModel)]="userData.surname" name="surname" type="text" class="form-control"  placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Patronymic</label>
    <input  [(ngModel)]="userData.patronymic" name="patronymic" type="text" class="form-control"  placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email </label>
    <input  [(ngModel)]="userData.email" name="email" type="email" class="form-control"  placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Phone</label>
    <input  [(ngModel)]="userData.phone" name="phone" type="text" class="form-control"  placeholder="name@example.com">
  </div>



Address

  <div class="form-group address">
    <label for="exampleFormControlInput1">LocalAddress</label>
    <input  [(ngModel)]="userData.address.localAddress" name="address" type="email" class="form-control"  placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">City</label>
    <input  [(ngModel)]="userData.address.city" name="city" type="text" class="form-control"  placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Region</label>
    <input  [(ngModel)]="userData.address.region" name="region" type="text" class="form-control"  placeholder="name@example.com">
  </div>
  <div class="form-group">
      <label for="exampleFormControlInput1">Country</label>
      <input  [(ngModel)]="userData.address.country" name="country" type="text" class="form-control"  placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Index</label>
        <input  [(ngModel)]="userData.address.index" name="index" type="text" class="form-control"  placeholder="name@example.com">
      </div>
  <button type="submit" class="btn btn-primary"  (click)="updateUserData()">Update</button>
</form>



</div>